@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/roboto-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/roboto-medium.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/roboto-semi-bold.woff2") format("woff2");
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.3px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-first);
  fill: var(--text-first);
  background: var(--bg-first);
}

ul, ol {
  list-style: none;
}

input,
textarea,
button,
select {
  font: inherit;
  outline: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}

img, video {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1, h2, h3 {
  font-size: 1.2em;
}

@media (max-width: 500px) {
  body {
    font-size: 1.4rem;
  }
  h1, h2, h3 {
    font-size: 1.15em;
  }
}
:root {
  --bg-first: #0f0f0f;
  --bg-second: #222222;
  --bg-third: #151515;
  --bg-fourth: #17171b;
  --bg-first-inverse: #fff;
  --bg-first-effect: rgba(255, 255, 255, 0.1);
  --bg-first-effect-inverse: rgba(0, 0, 0, 0.4);
  --bg-first-hover: rgba(255, 255, 255, 0.2);
  --bg-first-hover-inverse: rgba(0, 0, 0, 0.4);
  --text-first: #f1f1f1;
  --text-second: #888;
  --text-third: #b9b9b9;
  --text-link: #1572fc;
  --text-first-inverse: #000;
  --border-first: #505050;
  --border-colored: #0084ff;
  --header-height: 55px;
  --sidebar-width: 70px;
  --burger-width: 250px;
  --page-header-height: 75px;
  --radius-first: 10px;
  --sidebar-height: 55px;
  --gap-first: 15px;
  --over-content: 100;
  --menus: 150;
  --overlay: 145;
}

.f-row, .f-row-around, .f-row-between, .f-row-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.f-column, .f-column-around, .f-column-between, .f-column-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.f-row-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.f-row-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.f-row-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.f-column-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.f-column-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.f-column-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.avatar {
  width: 25px;
  height: 25px;
  min-width: 25px;
  min-height: 25px;
  border-radius: 50%;
  overflow: hidden;
  background: var(--bg-first);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.separator {
  width: 100%;
  height: 1px;
  background: var(--border-first);
  margin-block: 5px;
}

.preview {
  position: relative;
  max-width: 700px;
  min-width: 310px;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  container-type: inline-size;
  container-name: preview;
  content-visibility: auto;
  contain-intrinsic-size: auto 160px;
  aspect-ratio: 16/9;
  border-radius: var(--radius-first);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.preview__thumb {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: var(--radius-first);
  overflow: hidden;
}
.preview__thumb img {
  width: 100%;
  height: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -o-object-fit: cover;
     object-fit: cover;
}
.preview__body {
  font-size: 1.6rem;
  padding: 10px 0;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.preview__thumb, .preview__body {
  position: relative;
  width: 100%;
  z-index: 2;
}
.preview__left {
  margin-right: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.preview__left .avatar {
  min-width: 35px;
  min-height: 35px;
  width: 35px;
  height: 35px;
}
.preview__right {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.preview__title {
  display: -webkit-box;
  -ms-flex-preferred-size: calc(100% - 34px);
      flex-basis: calc(100% - 34px);
  min-width: 0;
  margin-bottom: 5px;
  font-size: 1em;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
}
.preview .context-btn {
  margin-inline: 5px;
}
.preview__lalala {
  color: var(--text-second);
  fill: var(--text-second);
  font-size: 0.85em;
}
.preview:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.preview--horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  aspect-ratio: auto;
}
.preview--horizontal .preview__thumb {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  min-width: 200px;
  min-height: 110px;
  aspect-ratio: 16/9;
}
.preview--horizontal .preview__thumb img {
  width: 100%;
  height: 100%;
}
.preview--horizontal .preview__body {
  font-size: 1.6rem;
  -ms-flex-negative: 1.2;
      flex-shrink: 1.2;
  padding: 5px 5px;
}
.preview--horizontal .preview__title {
  -ms-flex-preferred-size: calc(100% - 34px);
      flex-basis: calc(100% - 34px);
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-line-clamp: 3;
  font-size: 1em;
}
.preview--horizontal .preview__lalala {
  font-size: 0.85em;
}
.preview--horizontal .preview__left {
  display: none;
}
@container dynamic-type (max-width: 400px) {
  .preview--horizontal {
    display: block;
    aspect-ratio: 16/9;
  }
  .preview--horizontal .preview__body {
    padding: 10px 0;
  }
  .preview--horizontal .preview__left {
    display: block;
  }
  .preview--horizontal .preview__title {
    -webkit-line-clamp: 2;
  }
}
@container preview (max-width: 450px) {
  .preview .preview__body {
    font-size: 1.4rem;
  }
}

.player {
  position: relative;
  background: #000;
  aspect-ratio: 16/9;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
}
.player__video {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}
.player .control, .player .rewind, .player .advance {
  position: absolute;
  inset: 0;
}
.player .control {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: 1;
  cursor: pointer;
}
.player .control__header, .player .control__body {
  cursor: default;
}
.player .control__header {
  padding: 15px 20px;
}
.player .control__title {
  display: -webkit-box;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 1.3;
  -webkit-line-clamp: 1;
  font-size: 1.1em;
  -webkit-box-orient: vertical;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8), 0 0 2px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  cursor: text;
}
.player .control__body {
  padding: 0 20px 5px;
}
.player .control__left, .player .control__right {
  gap: 10px;
  border-radius: 10px;
  background: var(--bg-first-effect-inverse);
  padding-block: 5px;
  padding-inline: 10px 20px;
}
.player .control__right {
  padding-inline: 10px;
}
.player .control__progress-bar {
  width: 100%;
  height: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  background: rgba(1, 1, 1, 0.5);
  overflow: hidden;
  cursor: pointer;
}
.player .control__progress-bar .control__progress-line {
  height: 100%;
  width: 0%;
  background: red;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
.player .control__btn {
  fill: #fff;
  color: #fff;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.player .control__btn svg {
  width: inherit;
  height: inherit;
}
.player .control__btn svg path {
  width: 100%;
  height: 100%;
}
.player .control__btn--toggle .control__toggle-item--active {
  display: none;
}
.player .control__btn--toggle .control__toggle-item--inactive {
  display: block;
}
.player .control__btn--toggle.active .control__toggle-item--active {
  display: block;
}
.player .control__btn--toggle.active .control__toggle-item--inactive {
  display: none;
}
.player .control__btn--advance {
  position: relative;
  width: 35px;
  height: 17.5px;
  border-radius: 20px;
  border: 1px solid var(--border-first);
}
.player .control__btn--advance::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  left: 0;
  background: #fff;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  pointer-events: none;
}
.player .control__btn--advance.active::before {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.player .control.active {
  opacity: 1;
}
.player .control.hide-instantly {
  display: none;
}
.player .rewind {
  padding: 0 10%;
  font-weight: 600;
  pointer-events: none;
}
.player .rewind-left, .player .rewind-right {
  opacity: 0;
  font-size: 1.5em;
}
.player .rewind-left {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.player .rewind-left .rewind-svg {
  rotate: 180deg;
}
.player .rewind-svg {
  width: 1.5em;
  height: 1.5em;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.player .rewind.active--left .rewind-left {
  opacity: 1;
}
.player .rewind.active--left .rewind-left .rewind-svg {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}
.player .rewind.active--right .rewind-right {
  opacity: 1;
}
.player .rewind.active--right .rewind-right .rewind-svg {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}
.player .advance {
  display: none;
}
.player .advance .preview {
  max-width: 70%;
  background: var(--bg-first);
}
.player .advance.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 700px) {
  .player .control__title {
    font-size: 1em;
  }
  .player .control__body {
    padding: 0 10px 5px;
  }
  .player .control__btn {
    width: 24px;
    height: 24px;
  }
  .player .control__btn--advance {
    width: 30px;
    height: 15px;
  }
}

.btn--primary, .btn--secondary {
  position: relative;
  isolation: isolate;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 20px;
  -webkit-tap-highlight-color: transparent;
  background: var(--bg-first-inverse);
  fill: var(--text-first-inverse);
  color: var(--text-first-inverse);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.4px;
  border-radius: 20px;
}
.btn--primary::before, .btn--secondary::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--bg-first-hover-inverse);
  border-radius: inherit;
  pointer-events: none;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  opacity: 0;
  z-index: -1;
}
.btn--primary:hover::before, .btn--secondary:hover::before {
  opacity: 1;
}
@media (max-width: 500px) {
  .btn--primary, .btn--secondary {
    padding: 10px 15px;
  }
}

.btn--secondary {
  background: var(--bg-second);
  fill: var(--text-first);
  color: var(--text-first);
  font-weight: 500;
}
.btn--secondary::before {
  background: var(--bg-first-hover);
}

.input--primary {
  max-width: 500px;
  width: 100%;
  padding: 3px 10px;
  border-radius: 10px;
  border: 1px solid var(--border-first);
  background: var(--bg-third);
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.input--primary::-webkit-input-placeholder {
  color: var(--text-second);
}
.input--primary::-moz-placeholder {
  color: var(--text-second);
}
.input--primary:-ms-input-placeholder {
  color: var(--text-second);
}
.input--primary::-ms-input-placeholder {
  color: var(--text-second);
}
.input--primary::placeholder {
  color: var(--text-second);
}
.input--primary:focus {
  border-color: var(--border-colored);
  background: var(--bg-first);
}
.input--primary:hover {
  background: var(--bg-first);
}

.context-btn {
  position: relative;
  isolation: isolate;
  width: 24px;
  height: 24px;
  fill: var(--text-first);
  color: var(--text-first-inverse);
}
.context-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: var(--bg-first-hover);
  pointer-events: none;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  opacity: 0;
  z-index: -1;
}
.context-btn:hover::before {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  opacity: 1;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  max-width: 500px;
  max-height: 500px;
  min-width: 30vw;
  min-height: 50vh;
  margin: auto;
  border-radius: 10px;
  background: var(--bg-second);
  z-index: var(--menus);
}
.modal__header, .modal__body, .modal__footer {
  padding: 15px 20px;
}
.modal__header {
  width: 100%;
  border-bottom: 1px solid var(--border-first);
}
.modal__body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-y: auto;
}
.modal__footer {
  margin-top: auto;
}
.modal__close {
  display: none;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.modal.active {
  display: block;
}
@media (max-width: 500px) {
  .modal {
    max-width: none;
    max-height: none;
    width: 100vw;
    height: 100dvh;
    border-radius: 0;
  }
  .modal__close {
    display: block;
  }
}/*# sourceMappingURL=core.css.map */