*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1.6rem;
  color: var(--text-main);
  background: var(--bg-first);
}

ul, ol {
  list-style: none;
}

input,
textarea,
button,
select {
  font: inherit;
  outline: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}

img, video {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.avatar {
  width: 25px;
  height: 25px;
  min-width: 25px;
  min-height: 25px;
  border-radius: 50%;
  overflow: hidden;
  background: var(--border);
  cursor: pointer;
}
.avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.separator {
  width: 100%;
  height: 1px;
  background: var(--border);
  margin-block: 5px;
}

.preview {
  max-width: 450px;
  max-height: 350px;
  border-radius: 20px;
  position: relative;
}
.preview__thumb {
  border-radius: 20px;
  overflow: hidden;
  aspect-ratio: 16/9;
}
.preview__thumb img {
  -o-object-fit: cover;
     object-fit: cover;
}
.preview__body {
  padding: 10px 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.preview__thumb, .preview__body {
  position: relative;
  z-index: 2;
}
.preview__left {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 20px;
}
.preview__left .avatar {
  min-width: 35px;
  min-height: 35px;
  width: 35px;
  height: 35px;
}
.preview__right {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.preview__meta {
  width: 90%;
}
.preview__title {
  margin-bottom: 5px;
}
.preview__uploader, .preview__info {
  color: var(--text-second);
  font-size: 14px;
}
.preview::before {
  content: "";
  position: absolute;
  inset: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  background-color: var(--bg-hover-effect);
  border-radius: inherit;
  pointer-events: none;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s;
  opacity: 0;
}
.preview:hover {
  fill: var(--text-main);
}
.preview:hover::before {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  opacity: 1;
}

.interact__button {
  position: relative;
  width: 24px;
  height: 24px;
  fill: var(--text-main);
}
.interact__button::before {
  content: "";
  position: absolute;
  inset: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  background-color: var(--bg-hover-effect);
  border-radius: 50%;
  pointer-events: none;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s;
  opacity: 0;
}
.interact__button:hover::before {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 1;
}

:root {
  --bg-first: #0f0f0f;
  --bg-second: #2b2b2b;
  --bg-third: #151515;
  --bg-button: #222;
  --bg-effect: rgba(255, 255, 255, 0.1);
  --bg-hover-effect: rgba(255, 255, 255, 0.2);
  --text-main: #f1f1f1;
  --text-second: #888;
  --text-link: #1572fc;
  --border: #505050;
  --border-colored: #0084ff;
}

.header {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding-inline: 16px;
  height: 60px;
  width: 100%;
  background: var(--bg-first);
  z-index: 100;
}
.header__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 180px;
          flex: 0 0 180px;
}
.header__burger-btn {
  position: relative;
  width: 40px;
  height: 40px;
  padding: 12px;
  cursor: pointer;
  z-index: 101;
}
.header__burger-btn span {
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 3px;
  background: var(--text-main);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__burger-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  opacity: 0;
  background: var(--bg-hover-effect);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.3s;
  transition: opacity 0.2s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s, -webkit-transform 0.3s;
  -webkit-transform: scale(0);
          transform: scale(0);
  z-index: 100;
}
.header__burger-btn:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
.header__logo {
  width: 60%;
  color: var(--text-main);
}
.header__search {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  max-width: 500px;
  margin-inline: 50px;
  gap: 10px;
}
.header__search .search__wrapper {
  width: 100%;
}
.header__search .search__input {
  width: 100%;
  height: 40px;
  padding: 0 20px;
  color: var(--text-main);
  border: 1px solid var(--border);
  background: var(--bg-third);
  border-radius: 20px;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.header__search .search__input::-webkit-input-placeholder {
  color: var(--text-second);
}
.header__search .search__input::-moz-placeholder {
  color: var(--text-second);
}
.header__search .search__input:-ms-input-placeholder {
  color: var(--text-second);
}
.header__search .search__input::-ms-input-placeholder {
  color: var(--text-second);
}
.header__search .search__input::placeholder {
  color: var(--text-second);
}
.header__search .search__input:focus {
  border-color: var(--border-colored);
  background-color: var(--main-container);
}
.header__search .search__btn {
  fill: var(--text-main);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: var(--bg-button);
  position: relative;
}
.header__search .search__btn svg {
  opacity: 0.9;
}
.header__search .search__btn::before {
  content: "";
  position: absolute;
  inset: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  background-color: var(--bg-hover-effect);
  border-radius: 50%;
  pointer-events: none;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s;
  opacity: 0;
}
.header__search .search__btn:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
.header__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100px;
          flex: 0 1 100px;
  min-width: 80px;
}
.header__notification {
  fill: var(--text-second);
  width: 35px;
  height: 35px;
  padding: 5px;
  border-radius: 50%;
  background-color: var(--bg-button);
  position: relative;
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}
.header__notification svg {
  opacity: 0.9;
}
.header__notification::before {
  content: "";
  position: absolute;
  inset: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  background: var(--bg-hover-effect);
  border-radius: 50%;
  pointer-events: none;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s;
  opacity: 0;
}
.header__notification:hover {
  fill: var(--text-main);
}
.header__notification:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
.header .user .avatar {
  width: 35px;
  height: 35px;
  min-width: 35px;
  min-height: 35px;
}
.header .user__menu {
  position: fixed;
  top: 50px;
  right: 20px;
  background: var(--bg-second);
  border-radius: 15px;
  width: 300px;
  padding-block: 15px;
  z-index: 100;
}
.header .user__channel {
  gap: 20px;
  height: 60px;
  padding: 0 15px 25px;
  border-bottom: 1px solid var(--border);
}
.header .user__channel .avatar {
  width: 45px;
  height: 45px;
}
.header .user__channel .user__link {
  margin-top: 5px;
  color: var(--text-link);
  font-size: 1.4rem;
}
.header .user__control {
  padding-top: 10px;
}
.header .user__control > * {
  padding: 10px;
}
.header .user__control > *:hover {
  background-color: var(--bg-hover-effect);
}
.header .user__control > * > * {
  width: 100%;
  height: 100%;
}
@media (max-width: 700px) {
  .header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header__search {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    margin-inline: auto 15px;
  }
  .header__search .search__wrapper {
    display: none;
  }
}
@media (max-width: 500px) {
  .header__left {
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
  .header__logo {
    display: none;
  }
}

.sidebar {
  position: fixed;
  height: 100vh;
  width: 250px;
  padding: 15px 20px;
  background: var(--bg-first);
}
.sidebar__title {
  margin-bottom: 20px;
}
.sidebar__link {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 10px;
}
.sidebar__link svg {
  fill: var(--text-main);
  margin-right: 20px;
}
.sidebar__link .avatar {
  margin-right: 20px;
}
.sidebar__link .sidebar__arrow {
  margin-left: auto;
}
.sidebar__link.active {
  font-weight: 600;
  background: var(--bg-effect);
}
.sidebar__link:hover {
  background: var(--bg-hover-effect);
}
.sidebar .separator {
  margin-block: 20px;
}

.content {
  margin-left: 250px;
}
.content__wrapper {
  padding: 50px 15px 0;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}/*# sourceMappingURL=main.css.map */