.content {
  margin-top: var(--header-height);
  padding: 20px 20px;
}

.burger-btn {
  position: relative;
  width: 40px;
  height: 40px;
  padding: 12px;
  background: none;
}
.burger-btn span {
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 3px;
  background: var(--text-first);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.burger-btn::before {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.burger-btn:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.content--grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-left: var(--sidebar-width);
  padding: 50px 20px 80px;
  gap: 20px;
}
@media (max-width: 800px) {
  .content--grid {
    margin-left: 0;
    padding-inline: 10px;
  }
}

.header {
  position: fixed;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  padding-inline: 15px;
  background: var(--bg-first);
  z-index: var(--over-content);
}
.header__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 180px;
          flex: 0 0 180px;
}
.header__logo {
  width: 60%;
}
.header__search {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  max-width: 500px;
  margin-inline: 50px;
  gap: 10px;
}
.header__search .search__wrapper {
  width: 100%;
}
.header__search .search__input {
  height: 40px;
}
.header__search .search__btn {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 0;
}
.header__search .search__btn::before {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}
.header__search .search__btn:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.header__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100px;
          flex: 0 1 100px;
  min-width: 80px;
}
.header__notification {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 0;
}
.header__notification::before {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}
.header__notification:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.header .avatar {
  width: 35px;
  height: 35px;
  min-width: 35px;
  min-height: 35px;
}
@media (max-width: 700px) {
  .header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header__search {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    margin-inline: auto 15px;
  }
  .header__search .search__wrapper {
    display: none;
  }
}
@media (max-width: 500px) {
  .header__left {
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
  .header__logo {
    display: none;
  }
}

.burger {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--burger-width);
  fill: var(--text-first);
  height: 100vh;
  padding: 15px 20px;
  background: var(--bg-first);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
  z-index: var(--menus);
}
.burger__header {
  margin-bottom: 20px;
}
.burger__logo {
  width: 60%;
}
.burger__title {
  margin-bottom: 20px;
}
.burger__link {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 10px;
}
.burger__link svg, .burger__link .avatar {
  fill: inherit;
  margin-right: 20px;
}
.burger__link .burger__arrow {
  margin-left: auto;
}
.burger__link.active {
  font-weight: 600;
  background: var(--bg-first-effect);
}
.burger__link:hover {
  background: var(--bg-first-hover);
}
.burger .separator {
  margin-block: 20px;
}
.burger.active {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.sidebar {
  position: fixed;
  width: var(--sidebar-width);
  height: 100vh;
  font-size: 14px;
  background: var(--bg-first);
  z-index: var(--over-content);
}
.sidebar__link {
  padding-block: 20px;
  border-radius: 20px;
}
.sidebar__link:hover {
  background: var(--bg-first-hover);
}
@media (max-width: 800px) {
  .sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    bottom: 0;
    width: 100%;
    height: var(--header-height);
  }
}

.user {
  display: none;
  position: fixed;
  top: 50px;
  right: 20px;
  width: 300px;
  padding-block: 15px;
  border-radius: 15px;
  background: var(--bg-second);
  z-index: var(--menus);
}
.user__channel {
  gap: 20px;
  height: 60px;
  padding: 0 15px 25px;
  border-bottom: 1px solid var(--border-first);
}
.user__channel .avatar {
  width: 45px;
  height: 45px;
}
.user__channel .user__link {
  margin-top: 5px;
  color: var(--text-link);
  font-size: 1.4rem;
}
.user__control {
  padding-top: 10px;
}
.user__control > * {
  padding: 10px;
}
.user__control > *:hover {
  background-color: var(--bg-first-hover);
}
.user__control > * > * {
  width: 100%;
  height: 100%;
}
.user.active {
  display: block;
}

.auth__title {
  margin-bottom: 10px;
}
.auth__form {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
.auth[data-form-type=reg] .auth__register {
  opacity: 1;
  pointer-events: all;
  position: relative;
}
.auth[data-form-type=log] .auth__login {
  opacity: 1;
  pointer-events: all;
  position: relative;
}
.auth__field {
  gap: 5px;
  margin-bottom: 10px;
}
.auth__field input {
  padding: 5px 10px;
  border-radius: 10px;
}
.auth__field-error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-wrap: break-word;
  word-break: break-word;
  font-size: 0.8em;
  color: red;
}
.auth__submit {
  margin-block: 10px;
}
.auth__switch {
  font-size: 0.8em;
  color: var(--text-link);
}

#context-menu {
  position: fixed;
  left: 100%;
  max-width: 100px;
  opacity: 0;
  border-radius: 10px;
  border: 1px solid var(--border-first);
  background: var(--bg-second);
  overflow: hidden;
  pointer-events: none;
  z-index: var(--menus);
}
#context-menu button {
  padding: 7px 10px;
  width: 100%;
}
#context-menu button:hover {
  background: var(--bg-first-hover);
}
#context-menu.active {
  opacity: 1;
  pointer-events: all;
}

#toast {
  text-align: center;
  position: fixed;
  top: calc(var(--header-height) - 20px);
  right: 0;
  width: 300px;
  min-height: 100px;
  padding: 15px 25px;
  border-radius: 20px;
  border: 2px solid transparent;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  background: var(--bg-second);
  z-index: calc(var(--menus) + 10);
}
#toast.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.settings__field {
  max-width: 250px;
}
.settings__field label {
  margin-bottom: 5px;
}
.settings__field input {
  padding-block: 5px;
}
.settings__actions {
  margin-top: auto;
}
.settings__logout {
  color: #ff0000;
}
.settings.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#overlay {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  inset: 0;
  z-index: var(--overlay);
}
#overlay.active {
  display: block;
}/*# sourceMappingURL=main.css.map */