.watch {
  display: grid;
  grid-template-columns: minmax(320px, calc((100vh - 150px) * 1.77)) clamp(310px, 27.5vw, 550px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: var(--gap-first);
  max-width: 2000px;
  width: 100%;
  padding-top: 10px;
  margin-inline: auto;
}
@media (max-width: 1150px) {
  .watch {
    grid-template-columns: 1fr;
    padding-inline: 0;
  }
}

.watch .player {
  width: auto;
  max-height: 90vh;
  margin-inline: auto;
  border-radius: 10px;
}
@media (max-width: 1150px) {
  .watch .player {
    border-radius: 0;
    max-height: none;
  }
}

.v-core__details {
  margin-block: 12px;
}
.v-core__title {
  margin-bottom: 12px;
}
.v-core__subheader {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}
.v-core__uploader .avatar {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  margin-right: 10px;
}
.v-core__uploader--name {
  font-weight: 600;
}
.v-core__actions {
  gap: 10px;
  position: relative;
}
.v-core__actions .v-core__action {
  padding: 10px;
  height: 40px;
  border-radius: 10px;
}
.v-core__actions .v-core__action svg {
  margin-right: 5px;
}
.v-core__actions .v-core__pl-save {
  display: none;
  position: absolute;
  bottom: 110%;
  right: 0;
  max-width: 300px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid var(--border-first);
  background: var(--bg-second);
  z-index: var(--over-content);
}
.v-core__actions .v-core__pl-save > * {
  padding: 10px 5px;
}
.v-core__actions .v-core__pl-save > *:hover {
  background: var(--bg-first-hover);
}
.v-core__actions .v-core__pl-save.active {
  display: block;
}
@media (max-width: 1150px) {
  .v-core__details {
    padding-inline: 10px;
  }
}
@media (max-width: 500px) {
  .v-core__subheader {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .v-core__actions {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .v-core__uploader {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 1150px) {
  .watch__flow {
    padding-inline: 10px;
  }
}
@media (max-width: 500px) {
  .watch__flow {
    padding-inline: 0;
  }
}

.pl-view {
  border-radius: 10px;
  background: var(--bg-first);
  border: 1px solid var(--border-first);
  margin-bottom: var(--gap-first);
}
.pl-view__header {
  border-radius: inherit;
  padding: 10px;
  background: var(--bg-fourth);
  border-bottom: 1px solid var(--border-first);
}
.pl-view__title {
  font-size: 1.2em;
  margin-bottom: 5px;
}
.pl-view__details {
  fill: var(--text-third);
  color: var(--text-third);
}
.pl-view__list {
  padding: var(--gap-first) 5px;
  gap: var(--gap-first);
}
.pl-view .preview {
  max-width: none;
  width: 100%;
}
.pl-view .preview__thumb {
  max-height: 200px;
  width: auto;
}
@media (max-width: 500px) {
  .pl-view__list {
    padding-inline: 2px;
  }
}

.watch__v-feed {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: var(--gap-first);
}
@media (max-width: 1150px) {
  .watch__v-feed {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--gap-first);
  }
  .watch__v-feed .preview--horizontal {
    display: block;
    aspect-ratio: 16/9;
  }
  .watch__v-feed .preview--horizontal .preview__body {
    padding: 10px 0;
  }
  .watch__v-feed .preview--horizontal .preview__left {
    display: block;
  }
  .watch__v-feed .preview--horizontal .preview__title {
    -webkit-line-clamp: 2;
  }
}
@media (max-width: 500px) {
  .watch__v-feed {
    padding-inline: 5px;
  }
}/*# sourceMappingURL=watch.css.map */