.m-upload {
    &__step {
        display: none;
        width: 100%;
        height: 100%;
    }
    &[data-step="1"] &__step--1 { display: flex; }
    &[data-step="2"] &__step--2 { display: block; }

    &__step--1 &__body { flex: 1; }
    &__step--2 &__body { gap: 10px; }

    &__field {
        gap: 5px;
        width: 100%;
        input { padding: 10px; }
    }
}

.m-edit {
    &__header, &__body { gap: 10px; }
    &__submit { margin-left: auto; }

    &__field {
        gap: 5px;
        input { padding: 10px; }
    }
    &__thumb {
        width: 300px;
        aspect-ratio: 16/9;
    }
}

.manager {
    padding: 0;
    &__body { gap: var(--gap-primary); }
}