.upload {
    display: none;
    position: fixed;
    inset: 0;

    width: 50vw;
    height: 70vh;
    margin: auto;
    padding: 20px;

    border-radius: 20px;
    background: var(--bg-second);
    z-index: var(--menus);

    &[data-step="1"] .upload__step--1 { display: flex; }
    &[data-step="2"] .upload__step--2 { display: flex; }

    &__step {
        display: none;
        gap: 20px;
        width: 100%;
        height: 100%;
    }
    &__header {
        width: 100%;
        height: 60px;
        padding: 10px 20px 20px;
        border-bottom: 2px solid var(--border-first);
    }
    &__body {
        width: 100%;
        flex: 1;
    }

    &__step--2 &__body {
        gap: 20px;
        width: 500px;
    }
    &__field {
        width: 100%;
    }
    &__field--title input {
        padding: 10px 10px;
        border-radius: 10px;
    }
    &__submit {
        margin-top: auto;
    }

    &.active {
        display: block;
    }
}

.manager {
    margin-left: var(--sidebar-width);
    padding: 0;

    &__header {
        padding: 0 20px;
        border-bottom: 1px solid var(--border-first);
    }
    &__list {
        padding: 20px;
        gap: 20px;
    }
    &__button {
        border: 1px solid var(--border-first);
    }
} 