.m-upload {
    &__step {
        display: none;
        width: 100%;
        height: 100%;
    }
    &[data-step="1"] &__step--1 { display: flex; }
    &[data-step="2"] &__step--2 { display: flex; }

    &__step--2 &__body { gap: 10px; }

    &__field {
        gap: 5px;
        width: 100%;
        input { padding: 10px; }
    }

    &__footer {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s;
    }
    &__progress-bar {
        width: 100%;
        height: 5px;
        margin-bottom: 10px;
        margin-block: 10px;

        border-radius: 5px;
        background: rgb(48, 48, 48);
        overflow: hidden;
        
        .m-upload__progress-line {
            height: 100%;
            width: 0%;
            background: red;
            transition: width 0.3s;
        }
    }
    &__submit { margin-left: auto;}
}

.m-edit {
    &__header, &__body { gap: 10px; }
    &__submit { margin-left: auto; }

    &__field {
        gap: 5px;
        input { padding: 10px; }
    }
    &__thumb-container {
        gap: 10px;
        flex-wrap: wrap;
    }
    &__thumb {
        padding: 10px;
        border-radius: 10px;
        border: 1px solid var(--border-first);
        width: 300px;
        aspect-ratio: 16/9;
    }
}