.playlist-menu {
    &__field {
        gap: 5px;
        margin-bottom: 5px;
        max-width: 250px;
    }
    &__list {
        gap: 15px;  
        height: 300px;
        padding: 10px;
        container-type: inline-size;

        overflow-y: auto;
        overflow-x: hidden;
    }
    select {
        width: fit-content;
    }
    &__delete-btn {
        color: red;
        fill: red;
    }
}
.edit-playlist {
    padding: 20px 0;
    .playlist-menu__header,
    .playlist-menu__body {
        padding-inline: 0 20px;
    }
}
// changed preview for edit menu
.preview--edit {
    &::after {
        content: '';
        position: absolute;
        inset: 0;
        transform: scale(1.1);
        border-radius: inherit;
        pointer-events: none;
        background-color: rgba($color: #ff0000, $alpha: 0.1);
        transition: opacity 0.2s;
        opacity: 0;
    }
    

    [data-pl-edit-btn=moveUp],
    [data-pl-edit-btn=moveDown] {
        padding: 5px 10px;
        border-radius: 10px;
    }
    [data-pl-edit-btn=moveDown] svg { 
        transform: rotateX(180deg); 
    }
    [data-pl-edit-btn=delete] {
        padding: 10px;
        .delete-icon { display: block; }
        .deny-icon { display: none; }
    }
    
}
.preview.deleted {
    &::after {
        opacity: 1;
    }
    .delete-icon { display: none; }
    .deny-icon { display: block; }
}
