// -- Containers --
.content--watch {
    display: grid;
    grid-template-columns: minmax(320px, calc((100vh - 150px) * 1.77)) clamp(300px, 25vw, 550px);
    gap: 20px;

    max-width: 2000px;
    margin-inline: auto;
    justify-content: center;
}
.media__videos {
    align-items: stretch;
    gap: 15px;
}

// -- Video section --

// Player
.player {
    position: relative;

    width: auto;
    max-height: 90vh;
    
    border-radius: 10px;
    background: #000;
    aspect-ratio: 16 / 9;
    overflow: hidden;

    &__video {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: contain;
    }
}
.control {
    position: absolute;
    inset: 0;

    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1;

    &__header, &__body {
        background: var(--bg-first-effect-inverse);
        cursor: default;  
    }
    &__header { padding: 15px 20px; }
    &__title {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        line-height: 1.3;
        overflow: hidden;
        -webkit-line-clamp: 1;
    }
    &__body { 
        padding: 0 20px 5px;
        pointer-events: auto;
    }


    &__progress-bar {
        width: 100%;
        height: 5px;
        background: rgba(1, 1 , 1, 0.5);
        border-radius: 5px;
        margin-bottom: 10px;
        overflow: hidden;
        cursor: pointer;

        .control__progress-line {
            height: 100%;
            width: 0%;
            background: red;
            transition: width 0.3s;
        }
    }

    .player__btn {
        fill: #fff;
        color: #fff;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .toggle-btn {
        .toggle__item {
            display: none;
        }
        &.active {
            .toggle__item--active {
                display: block;
            }
            .toggle__item--inactive {
                display: none;
            }
        }
        & {
            .toggle__item--active {
                display: none;
            }
            .toggle__item--inactive {
                display: block;
            }
        }
    }


    &.active { opacity: 1; }
    &.hide-instantly { display: none;}
}
.rewind {
    position: absolute;

    inset: 0;
    padding: 0 10%;

    font-weight: 600;
    pointer-events: none;
    
    &-left,
    &-right {
        opacity: 0;
        font-size: 1.5em;
    }
    &-left { 
        flex-direction: row-reverse;
        .rewind-svg { rotate: 180deg; }
    }

    &-svg {
        width: 1.5em;
        height: 1.5em;
        transition: transform 0.3s;
    }



    &.active--left &-left {
        opacity: 1;
        .rewind-svg {
            transform: translateX(10px);
        }
    }
    &.active--right &-right {
        opacity: 1;
        .rewind-svg {
            transform: translateX(10px);
        }
    }
}

// Video body
.video {
    &__title {
        font-size: 2rem;
        margin: 12px 0;
    }

    &__uploader {
        .avatar {
            width: 40px;
            height: 40px;
            min-width: 40px;
            min-height: 40px;
            margin-right: 10px;
        }
        .video__uploader-name {
            font-weight: 600;
        }
    }
    &__toolbar {
        gap: 10px;
        position: relative;

        .video__toolbar-btn {
            padding: 10px;
            height: 40px;
            border-radius: 10px;
            svg {
                margin-right: 5px;
            }
        }
        .video__playlist {
            display: none;
            position: absolute;

            bottom: 110%;
            right: 0;
            max-width: 300px;

            border-radius: 10px;
            overflow: hidden;
            border: 1px solid var(--border-first);

            background: var(--bg-second);
            z-index: var(--over-content);

            & > * {
                padding: 10px 5px;
                &:hover { background: var(--bg-first-hover); }
            }
        }
        .video__playlist.active {
            display: block;
        }
    }
}

// -- List section --

// Playlist

.watch-playlist {
    border-radius: 20px;
    background: var(--bg-first);
    border: 1px solid var(--border-first);
    margin-bottom: 14px;


    // Header
    &__header {
        border-radius: inherit;
        padding: 10px;
        background: var(--bg-fourth);
    }
    &__title {
        font-size: 20px;
    }
    &__info {
        color: var(--text-third);
    }

    // List
    &__list {
        padding: 5px;
        gap: 14px;
    }
}