.watch {
    display: grid;
    grid-template-columns: minmax(320px, calc((100vh - 150px) * 1.77)) 
    clamp(310px, 27.5vw, 550px);
    justify-content: center;
    gap: var(--gap-first);

    max-width: 2000px;
    width: 100%;
    padding-top: 10px;
    margin-inline: auto;

    @media (max-width: 1150px) {
        grid-template-columns: 1fr;
        padding-inline: 0;
    }
}

// -- Video section --

// Player
.watch .player {
    width: auto;
    max-height: 90vh;
    margin-inline: auto;
    
    border-radius: 10px;

    @media (max-width: 1150px) {
        border-radius: 0;
        max-height: none;
    }
}

// Video body
.v-core {

    &__details {
        margin-block: 12px;
    }

    &__title { margin-bottom: 12px; }
    &__subheader {
        flex-wrap: wrap;
        gap: 10px;
    }
    &__uploader {
        .avatar {
            width: 40px;
            height: 40px;
            min-width: 40px;
            min-height: 40px;
            margin-right: 10px;
        }
        &--name {
            font-weight: 600;
        }
    }
    &__actions {
        gap: 10px;
        position: relative;

        .v-core__action {
            padding: 10px;
            height: 40px;
            border-radius: 10px;
            svg {
                margin-right: 5px;
            }
        }
        .v-core__pl-save {
            display: none;
            position: absolute;

            bottom: 110%;
            right: 0;
            max-width: 300px;

            border-radius: 10px;
            overflow: hidden;
            border: 1px solid var(--border-first);

            background: var(--bg-second);
            z-index: var(--over-content);

            & > * {
                padding: 10px 5px;
                &:hover { background: var(--bg-first-hover); }
            }
            &.active { display: block; }
        }
    }

    @media (max-width: 1150px) {
        &__details { padding-inline: 10px; }
    }
    @media (max-width: 500px) {
        &__subheader {
            flex-direction: column;
            align-items: stretch;
        }
        &__actions  {
            order: 1; 
            flex-wrap: wrap;
        }
        &__uploader { order: 2; }
    }
}

// -- List section --

// Playlist

.watch__flow {
    @media (max-width: 1150px) {
        padding-inline: 10px;
    }
    @media (max-width: 500px) {
        padding-inline: 0;
    }

}



.pl-view {
    border-radius: 10px;
    background: var(--bg-first);
    border: 1px solid var(--border-first);
    margin-bottom: var(--gap-first);
    // overflow: hidden;


    // Header
    &__header {
        border-radius: inherit;
        padding: 10px;
        background: var(--bg-fourth);
        border-bottom: 1px solid var(--border-first);
    }
    &__title { 
        font-size: 1.2em;
        margin-bottom: 5px;
    }
    &__details { 
        fill: var(--text-third);
        color: var(--text-third); 
    }

    // List
    &__list {
        padding: var(--gap-first) 5px;
        gap: var(--gap-first);
    }
    .preview {
        max-width: none;
        width: 100%;
        &__thumb {
            max-height: 200px;
            width: auto;
        }
    }
    

    @media (max-width: 500px) { &__list { padding-inline: 2px; } }
}

// Video feed

.watch__v-feed {
    align-items: stretch;
    gap: var(--gap-first);

    @media (max-width: 1150px) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: var(--gap-first);

        .preview--horizontal {
            display: block;
            aspect-ratio: 16/9;

            .preview__body { padding: 10px 0; }
            .preview__left { display: block; }
            .preview__title { -webkit-line-clamp: 2; }
        }
    }
    @media (max-width: 500px) {
        padding-inline: 5px;
    }
}

// Page modificators
