// Base
.f-row {
    display: flex;
    align-items: center;
}
.f-column {
    display: flex;
    flex-direction: column;
}

// Combined

.f-row-center {
    @extend .f-row;
    justify-content: center;
}
.f-row-between {
    @extend .f-row;
    justify-content: space-between;
}
.f-row-around {
    @extend .f-row;
    justify-content: space-around;
}

.f-column-center {
    @extend .f-column;
    align-items: center;
    justify-content: center;
}
.f-column-between {
    @extend .f-column;
    justify-content: space-between;
}
.f-column-around {
    @extend .f-column;
    justify-content: space-around;
}