:root {
    --header-height: 50px;
    --sidebar-width: 70px;
    --burger-width: 250px;
    --radius-first: 10px;

    --sidebar-height: 55px;

    
    --gap-first: 10px;

    // z-index
    --over-content: 100;
    --menus: 150;
    --overlay: 145;
}
:root[data-theme=dark] {    
    --bg-first: #0f0f0f;
    --bg-second: #222222;
    --bg-third: #151515;
    --bg-fourth: #17171b;
    --bg-first-inverse: #fff;

    --bg-first-effect: rgba(255, 255, 255, 0.1);
    --bg-first-effect-inverse: rgba(0, 0, 0, 0.4);

    --bg-first-hover: rgba(255, 255, 255, 0.2);
    --bg-first-hover-inverse: rgba(0, 0, 0, 0.4);

    --text-first: #f1f1f1;
    --text-second: #888;
    --text-third: #b9b9b9;
    --text-link: #1572fc;

    --text-first-inverse: #000;

    --border-first: #505050;
    --border-colored: #0084ff;
}
:root[data-theme=light] {
    --bg-first: #ececec;
    --bg-second: #d1d0d0;
    --bg-third: #dddcdc;
    --bg-fourth: #dbdbe0;
    --bg-first-inverse: #070707;

    --bg-first-effect: rgba(0, 0, 0, 0.1);
    --bg-first-effect-inverse: rgba(252, 252, 252, 0.4);

    --bg-first-hover: rgba(0, 0, 0, 0.2);
    --bg-first-hover-inverse: rgba(255, 255, 255, 0.4);

    --text-first: #1d1d1d;
    --text-second: #6b6b6b;
    --text-third: #616161;
    --text-link: #1572fc;

    --text-first-inverse: #e4e4e4;

    --border-first: #868686;
    --border-colored: #0084ff;
}
