.header {
    position: fixed;
    align-items: stretch;
    padding-inline: 15px;
    height: var(--header-height);
    top: 0;
    left: 0;
    width: 100%;
    background: var(--bg-first);
    z-index: var(--over-content);

    // Left side
    &__left {
        flex: 0 0 180px;
        
    }

    &__logo {
        width: 60%;
        color: var(--text-main);
    }

    // Search
    &__search {
        flex-grow: 1;
        flex-shrink: 1;
        max-width: 500px;
        margin-inline: 50px;
        gap: 10px;

        .search__wrapper {
            width: 100%;
        }
        .search__input {
            width: 100%;
            height: 40px;
            padding: 0 20px;
            color: var(--text-main);
            border: 1px solid var(--border);
            background: var(--bg-third);
            border-radius: 20px;
            transition: border-color 0.3s;

            &::placeholder {
                color: var(--text-second);
            }
            &:focus {
                border-color: var(--border-colored);
                background-color: var(--main-container);
            }
        }
        .search__btn {
            fill: var(--text-main);
            flex-shrink: 0;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background: var(--bg-second);
            position: relative;
            z-index: calc(var(--over-content) + 1);

            svg {
                opacity: 0.9;
            }

            &::before {
                content: '';
                position: absolute;
                inset: 0;
                opacity: 0;
                border-radius: 50%;
                transition: transform 0.3s, opacity 0.3s;
                background: var(--bg-hover-effect);
                transform: scale(0);
                z-index: -1;
            }
            &:hover::before {
                transform: scale(1);
                opacity: 1;
            }
        }
    }

    // Right Side
    &__right {
        flex: 0 1 100px;
        min-width: 80px;
    }
    &__notification {
        fill: var(--text-second);
        width: 35px;
        height: 35px;
        padding: 5px;
        border-radius: 50%;
        background-color: var(--bg-second);
        position: relative;
        transition: fill 0.3s;
        z-index: calc(var(--over-content) + 1);

        svg {
            opacity: 0.9;
        }

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            opacity: 0;
            border-radius: 50%;
            transition: transform 0.3s, opacity 0.3s;
            background: var(--bg-hover-effect);
            transform: scale(0);
            z-index: -1;
        }
        &:hover {
            fill: var(--text-main);

            &::before {
                transform: scale(1);
                opacity: 1;
            }
        }
    }
    .user {
        .avatar {
            width: 35px;
            height: 35px;
            min-width: 35px;
            min-height: 35px;
        }
    }

    @media (max-width: 700px) {
        justify-content: flex-start;
        
        &__search {
            flex-grow: 0;
            margin-inline: auto 15px;

            .search__wrapper {
                display: none;
            }
        }
    }
    @media (max-width: 500px) {
        &__left {
            flex-shrink: 1;
        }
        &__logo {
            display: none;
        }
    }
}