.header {
    position: fixed;
    align-items: stretch;
    top: 0;
    left: 0;
    
    width: 100%;
    height: var(--header-height);
    padding-inline: 15px;
    
    background: var(--bg-first);
    z-index: var(--over-content);

    // Left side
    &__left {
        flex: 0 0 180px;
    }


    &__logo {
        width: 60%;
    }

    // Search
    &__search {
        flex-grow: 1;
        flex-shrink: 1;
        max-width: 500px;
        margin-inline: 50px;
        gap: 10px;

        .search__wrapper {
            width: 100%;
        }
        .search__input {
            height: 40px;
        }
        .search__btn {
            flex-shrink: 0;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            padding: 0;

            &::before {
                transform: scale(0.5);
            }
            &:hover::before {
                transform: scale(1);
            }
        }
    }

    // Right Side
    &__right {
        flex: 0 1 100px;
        min-width: 80px;
    }
    &__notification {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        padding: 0;

        &::before {
            transform: scale(0.5);
        }
        &:hover::before {
            transform: scale(1);
        }
    }
    .avatar {
        width: 35px;
        height: 35px;
        min-width: 35px;
        min-height: 35px;
    }

    @media (max-width: 700px) {
        justify-content: flex-start;
        
        &__search {
            flex-grow: 0;
            margin-inline: auto 15px;

            .search__wrapper {
                display: none;
            }
        }
    }
    @media (max-width: 500px) {
        &__left {
            flex-shrink: 1;
        }
        &__logo {
            display: none;
        }
    }
}