.burger {
    position: fixed;
    top: 0;
    left: 0;
    
    width: var(--burger-width);
    fill: var(--text-first);
    height: 100vh;
    padding: 15px 20px;


    background: var(--bg-first);
    transition: transform 0.3s;
    transform: translate(-100%);
    
    z-index: var(--menus);

    &__header {
        margin-bottom: 20px;
    }
    &__logo {
        width: 60%;
    }

    &__title {
        margin-bottom: 20px;
    }
    &__link {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        padding: 10px;
        
        svg, .avatar {
            fill: inherit;
            margin-right: 20px;
        }   
        .burger__arrow {
            margin-left: auto;
        }

        &.active {
            font-weight: 600;
            background: var(--bg-first-effect);
        }
        &:hover {
            background: var(--bg-first-hover);
        }
    }
    .separator {
        margin-block: 20px;
    }

    &.active {
        transform: translate(0);
    }
}
.sidebar {
    position: fixed;

    width: var(--sidebar-width);
    height: 100vh;

    font-size: 14px;
    background: var(--bg-first);

    z-index: var(--over-content);

    &__link {
        padding-block: 20px;
        border-radius: 20px;

        &:hover {
            background: var(--bg-first-hover);
        }
    }

    @media (max-width: 800px) {
        & {
            display: flex;
            align-items: center;
            justify-content: space-around;
            bottom: 0;
            width: 100%;
            height: var(--header-height);
        }
    }
}
.user {
    display: none;
    position: fixed;
    top: 50px;
    right: 20px;

    width: 300px;
    padding-block: 15px;

    border-radius: 15px;
    background: var(--bg-second);
    z-index: var(--menus);
        
    &__channel {
        gap: 20px;
        height: 60px;
        padding: 0 15px 25px;
        border-bottom: 1px solid var(--border-first);
        
        .avatar {
            width: 45px;
            height: 45px;
        }
        .user__link {
            margin-top: 5px;
            color: var(--text-link);
            font-size: 1.4rem;
        }
    }
    &__control {
        padding-top: 10px;
        & > * {
            padding: 10px;
            &:hover {
                background-color: var(--bg-first-hover);
            }
            & > * {
                width: 100%;
                height: 100%;
            }
        }
    }

    &.active {
        display: block;
    }
}
.auth {
    display: none;   
    position: fixed;
    gap: 20px;
    inset: 0;

    width: 30vw;
    height: fit-content;
    margin: auto;
    padding: 20px;

    border-radius: 20px;
    background: var(--bg-second);
    z-index: var(--menus);

    &__title {
        margin-bottom: 10px;
    }
    &__form {
        opacity: 0;
        pointer-events: none;
        
        position: absolute;
    }
    &[data-form-type="reg"] .auth__register {
        opacity: 1;
        pointer-events: all;
        position: relative;
    }
    &[data-form-type="log"] .auth__login {
        opacity: 1;
        pointer-events: all;
        position: relative;
    }
    
    &__field {
        gap: 5px;
        margin-bottom: 10px;

        input {
            padding: 5px 10px;
            border-radius: 10px;
        }
        &-error {
            display: flex;
            flex-direction: column;
            overflow-wrap: break-word;
            word-break: break-word;
            font-size: 0.8em;
            color: red;
        }
    }

    &__submit {
        margin-block: 10px;
    }
    &__switch {
        font-size: 0.8em;
        color: var(--text-link);
    }
    
    &.active {
        display: block;
    }
}
#context-menu {
    opacity: 0;
    pointer-events: none;
    left: 100%;

    position: fixed;
    z-index: var(--menus);
    background: var(--bg-second);
    padding: 20px;
    border-radius: 20px;

    &.active {
        opacity: 1;
        pointer-events: all;
    }
}
#toast {
    text-align: center;
    position: fixed;
    top: calc(var(--header-height) - 20px);
    right: 0;

    width: 300px;
    min-height: 100px;
    padding: 15px 25px;

    border-radius: 20px;
    border: 2px solid transparent;
    pointer-events: none;
    transition: all 0.3s;
    transform: translateX(200%);
    background: var(--bg-second);
    z-index: calc(var(--menus) + 10);

    &.active {
        transform: translateX(0);
    }
}
#overlay {
    display: none;
    position: fixed;
    background: rgb(0, 0, 0, 0.2);
    inset: 0;
    z-index: var(--overlay);
    
    &.active {
        display: block;
    }
}

.settings {
    display: none;
    position: fixed;
    inset: 0;

    width: 30vw;
    height: 50vh;
    margin: auto;
    padding: 20px;

    background: var(--bg-second);
    border-radius: 20px;

    z-index: var(--menus);

    &__header {
        margin-bottom: 20px;
        padding: 10px 0;

        border-bottom: 1px solid var(--border);
    }

    &__field {
        max-width: 250px;

        label {
            margin-bottom: 5px;
        }
        input {
            padding-block: 5px;
        }
    }
    
    &__actions {
        margin-top: auto;

    }
    &__logout {
        color: #ff0000;
    }


    &.active {
        display: flex;

    }
}