.burger {
    position: fixed;

    top: 0;
    bottom: 0;
    left: 0;
    width: var(--burger-width);
    padding: 15px;
    
    
    transition: transform 0.3s;
    transform: translate(-100%);
    fill: var(--text-first);
    color: var(--text-first);
    background: var(--bg-first);
    
    z-index: var(--menus);

    &__header {
        margin-bottom: 20px;
    }
    &__logo {
        width: 60%;
    }

    &__title {
        margin-bottom: 20px;
    }
    &__link {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        padding: 10px;
        
        svg, .avatar {
            fill: inherit;
            margin-right: 20px;
        }   
        .burger__arrow {
            margin-left: auto;
        }

        &.active {
            font-weight: 600;
            background: var(--bg-first-effect);
        }
        &:hover {
            background: var(--bg-first-hover);
        }
    }
    .separator {
        margin-block: 20px;
    }

    &.active {
        transform: translate(0);
    }
}
.sidebar {
    position: fixed;

    left: 0;
    top: var(--header-height);
    bottom: 0;
    width: var(--sidebar-width);
    
    font-size: 14px;
    background: var(--bg-first);

    z-index: var(--over-content);

    &__link {
        padding-block: 20px;
        border-radius: 20px;

        &:hover { background: var(--bg-first-hover); }
    }

    @media (max-width: 800px) {
        display: flex;
        align-items: center;
        justify-content: space-around;
        
        top: auto;
        left: auto;
        width: 100%;
        height: var(--sidebar-height);

        &__link {
            padding: 0 20px;
            height: 100%;
            width: 33.3%;
        }
    }
}
.user {
    display: none;
    position: fixed;
    
    top: 50px;
    right: 20px;
    width: 250px;
    padding-block: 15px;
    
    border-radius: 10px;
    border: 1px solid var(--border-first);
    background: var(--bg-second);
    z-index: var(--menus);
        
    &__header {
        height: 60px;
        gap: 20px;
        padding: 0 15px 20px;
        margin-bottom: 15px;

        border-bottom: 1px solid var(--border-first);
        
        .avatar {
            width: 45px;
            height: 45px;
        }
        .user__link {
            margin-top: 5px;
            color: var(--text-link);
            font-size: 1.4rem;
        }
    }
    &__control > * {
        padding: 10px;
        
        & > * {
            width: 100%;
            height: 100%;
        }
        &:hover {
            background-color: var(--bg-first-hover);
        }
    }

    &.active { display: block; }
}
.auth {
    &__form {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }
    &[data-auth-form="sign-up"] .auth__sign-up {
        position: relative;
        opacity: 1;
        pointer-events: all;
    }
    &[data-auth-form="sign-in"] .auth__sign-in {
        position: relative;
        opacity: 1;
        pointer-events: all;
    }
    &__header { position: relative; }
    
    &__field {
        gap: 5px;
        margin-bottom: 10px;

        label { padding: 0 10px; }
        input { padding: 5px; }
        
        &-error {
            display: flex;
            flex-direction: column;
            overflow-wrap: break-word;
            word-break: break-word;
            font-size: 0.8em;
            color: red;
        }
    }
    &__body {
        flex: 0;
    }
    &__submit {
        margin-block: 10px;
    }
    &__switch {
        font-size: 0.8em;
        color: var(--text-link);
    }
    &__close {
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
    }

    @media (max-width: 500px) {
        height: fit-content;
        border-radius: 10px;
    }
}
#context-menu {
    position: fixed;
    
    left: 100%;
    max-width: 100px;
    padding: 5px 0;
    
    border-radius: 10px;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    border: 1px solid var(--border-first);
    background: var(--bg-second);
    z-index: var(--menus);

    button {
        width: 100%;
        padding: 7px 10px;
        &:hover { background: var(--bg-first-hover); }
    }

    &.active {
        opacity: 1;
        pointer-events: all;
    }
}
#toast {
    position: fixed;

    top: calc(var(--header-height) - 20px);
    right: 0;
    width: 300px;
    min-height: 100px;
    padding: 15px 25px;
    
    text-align: center;
    border-radius: 20px;
    border: 2px solid transparent;
    pointer-events: none;
    transition: transform 0.3s;
    transform: translateX(200%);
    background: var(--bg-second);
    z-index: calc(var(--menus) + 10);

    &.active {
        transform: translateX(0);
    }
}
.settings { 
    &__field {
        max-width: 300px;
        margin-bottom: 15px;

        label {
            margin-bottom: 5px;
            padding: 0 10px;
        }
        input { padding-block: 5px; }
    }
    &__logout { color: #ff0000; }

    &.active { display: flex; }
}

#overlay {
    display: none;
    position: fixed;
    background: rgb(0, 0, 0, 0.2);
    inset: 0;
    z-index: var(--overlay);
    
    &.active {
        display: block;
    }
}