*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1.6rem;
    color: var(--text-main);
    background: var(--bg-first);
}
ul, ol { 
    list-style: none; 
}
input,
textarea,
button,
select {
    font: inherit;
    outline: none;
    color: inherit
}
button {
    border: none;
    cursor: pointer;
    background: none;
}
img, video { 
    max-width: 100%; 
    height: auto; 
    display: block;
}
a { 
    display: inline-block;
    text-decoration: none;
    color: inherit; 
    cursor: pointer;
}   