:root {
    // Colors
    
    --bg-first: #0f0f0f;
    --bg-second: #222222;
    --bg-third: #151515;
    

    --bg-effect: rgba(255, 255, 255, 0.1);
    --bg-hover-effect: rgba(255, 255, 255, 0.2);

    --text-main: #f1f1f1;
    --text-second: #888;
    --text-link: #1572fc;

    --border: #505050;
    --border-colored: #0084ff;

    // Values

    --header-height: 60px;
    --sidebar-width: 70px;
    --burger-width: 250px;

    // z-index
    --over-content: 100;
    --menus: 150;
    --overlay: 145;
}
